*{
    margin: 0;
    padding :0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

nav{
    flex-grow:1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #1f2937;
    height: 10vh;
}

 nav .img-container{
    flex-grow:1;
    height:75%;
    margin-right: auto;
    
}

.header-logo{
    height: 100%;
    width: auto;
    object-fit: contain;
}

.header-links{
    flex-grow:1;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-left: auto;
    font-size: 18px;
    color: #e5e7eb;
    padding-right: 10px;
    padding-bottom: 10px;
}
.section1{
    flex-grow:1;
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.section1 .section-container{
    flex-grow:1;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    gap: 50px;
    padding: 20px;

}

 .section1 .content-left{
    flex-grow:1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
 }


.section1 .content-left button{
    flex-grow:1;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 8px;
    width: 75px;
    border:none;
    padding: 5px;
}

 .section1 .img-container{
    flex-grow:1;
   flex-shrink: 1;
    height: 200px;
 }
.main-text{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}
.body-text{
    flex-grow:1;
    font-size: 18px;
    color: #e5e7eb;
}

.section1 .img-container img{

    height: 100%;
    width: auto;
    object-fit: contain;
}

.section2{
    flex-grow:1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.section2 .title{
    flex-grow:1;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 36px;
}

.section2 .problematic-description{
    margin-left: -35%;
    margin-top: -2.5%
}
.section2 .images{
    flex-grow:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.section2 .images .container{
    flex-grow:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 1;
}

.section2 .images .container .img-container{
    flex-grow:1;
    flex-shrink: 1;
    height: 100px;
    width: 100px;
}
.section2 .images .container .img-container img{
    height: 100%;
    width: auto;
    object-fit: contain;
}

.section3 {
    flex-grow:1;
    padding: 20px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}
.section3 .quote{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section3 .quote .quote-text{
    
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
}

.section3 .quote .author{
    align-self: flex-end;
    font-weight: bold;
}

.section4{
    flex-grow:1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section4 .content{
    
    padding: 20px;
    background-color:#3882f6 ;
    border-radius: 6px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.section4 .content p{
    color: #f9faf8;
}
.section4 .content .hire{
    
    background-color: #3882f6;
    border-radius: 8px;
    border-color: #f9faf8;
    padding: 10px;
    color: #e5e7eb;
}

footer{
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 20px;
    margin-top: auto;
}
