*{
    margin: 0;
    padding :0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #1f2937;
}

 nav .img-container{
    height: 75px;
    margin-right: auto;
    
}

.header-logo{
    height: 100%;
    width: auto;
    object-fit: contain;
}

.header-links{
    display: flex;
    gap: 15px;
    margin-left: auto;
    font-size: 18px;
    color: #e5e7eb;
}
.section1{
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.section1 .section-container{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    gap: 50px;
    padding: 20px;

}

 .section1 .content-left{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
 }


.section1 .content-left button{
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 8px;
    width: 75px;
}

 .section1 .img-container{
   
    height: 200px;
 }
.main-text{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}
.body-text{
    font-size: 18px;
    color: #e5e7eb;
}

.section1 .img-container img{
    height: 100%;
    width: auto;
    object-fit: contain;
}

.section2{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.section2 .title{
    font-size: 36px;
}

.section2 .images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.section2 .images .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section2 .images .container .img-container{
    height: 100px;
    width: 100px;
}
.section2 .images .container .img-container img{
    height: 100%;
    width: auto;
    object-fit: contain;
}

.section3 {
    padding: 20px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}
.section3 .quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section3 .quote .quote--text{
    font-size: 20px;
}

.section3 .quote .author{
    align-self: flex-end;
    font-weight: bold;
}